@model IEnumerable<MPA_Project_Juca_Oana.Models.ViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Tours Statistics";
}
<h2>Ordered Tours Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Tours
        </th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                @item.StadiumsCount
                </td>
            </tr>
    }
</table>
